COMPOSE_PROJECT_NAME=dce

# This is the folder in which you cloned the Github repo
MICROSERVICE_HOME=/path/to/HelloWorld

SAG_IS_CONFIG_PROPERTIES=/opt/softwareag/IntegrationServer/application.properties

UM_LICENSE_PATH=/path/to/um-license.xml
MSR_LICENSE_PATH=/path/to/msr-license.xml

ADMIN_PASSWORD=manage

# Postgres credentials
# You should not need changing these properties, except if you want stronger passwords
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wm

# This is to connect to the webMethods DB (via a datasource)
# You should not need changing these properties
WM_DB_URL=jdbc:wm:postgresql://postgresql:5432;databaseName=wm
WM_DB_USER=wm
WM_DB_PASSWORD=wm
WM_DB_DRIVER_ALIAS=DataDirect Connect JDBC PostgreSQL Driver

# This is to connect to the microservice database (via the JDBC adapter)
# You should not need changing these properties, except if you want stronger passwords
DATASOURCE_CLASS=org.postgresql.ds.PGSimpleDataSource
DB_NAME=sandbox
DB_USER=wm
DB_PASSWORD=wm
DB_PORT=5432
DB_SERVERNAME=postgresql

# JNDI url to connect to the UM realm
# No need to change it
JNDI_ALIAS_PROVIDERURL=nsp://umserver:9000

# JMS properties, no need to change them
jms.DEFAULT_IS_JMS_CONNECTION.clientID=DEFAULT_IS_JMS_CLIENT
jms.DEFAULT_IS_JMS_CONNECTION.enabled=true
jms.DEFAULT_IS_JMS_CONNECTION.csqSize=0
jms.DEFAULT_IS_JMS_CONNECTION.jndi_jndiAliasName=DEFAULT_IS_JNDI_PROVIDER

# Connection to the SFTP server
SFTPSERVER_SFTP_HOSTNAME=<SFTP hostname or IP>
SFTPSERVER_SFTP_PORT=<SFTP port - probably 22>
SFTPSERVER_SFTP_HOSTKEY=<Public key of the SSH server>
SFTP_USER_NAME=<SFTP user name>
SFTP_USER_PASSWORD=<SFTP password>

# Connection to the S3 bucket
S3_ACCESS_KEY=<Key to access your S3 bucket>
S3_SECRET_KEY=<Secret to access your S3 bucket>

# Connection to the SMTP server
SMTP_SERVERNAME=<SMTP server hostname or IP>
SMTP_PORT=<SMTP port>
SMTP_AUTH_TYPE=Basic
SMTP_AUTH_USERNAME=<SMTP user name>
SMTP_AUTH_PASSWORD=<SMTP password>
SMTP_TLS_MODE=explicit
#SMTP_TRUSTSTORE_ALIAS=<if the SMTP presents a non trusted cert, a truststore needs to be created and its alias placed here>
SMTP_SEND_FROM=<Email addrress emails are sent from>
SMTP_SEND_TO=<Email address emails are sent to>
