apiVersion: v1
data:
  msr-license: "content of the msr-license.xml file, encoded in base64"
  um-license: "content of the um-license.xml file, encoded in base64"
kind: Secret
metadata:
  name: licenses
type: Opaque
