apiVersion: v1
kind: ConfigMap
metadata:
  name: environment-config
  namespace: dce
data:
  databaseServerName: "microservice database server"
  databaseServerPort: "microservice database port"
  databaseName: "microservice database name"
  jndiAliasProviderUrl: "JNDI provider URL for JMS connectivity"
  wmDatabaseUrl: "webMethods database JDBC URL"
  wmDriverAlias: "webMethods database driver alias"
