apiVersion: v1
kind: Secret
metadata:
  name: environment-secret
  namespace: dce
type: Opaque
data:
  databaseUser: "microservice database user, encoded in Base64"
  databasePassword: "microservice database password, encoded in Base64"
  wmDatabaseUser: "webMethods database user, encoded in Base64"
  wmDatabasePassword: "webMethods database user, encoded in Base64"
  wmAdminPassword: "password for the webMethods Administrator user, encoded in base64"


