apiVersion: v1
kind: Secret
metadata:
  name: environment-secret
type: Opaque
data:
  WM_DB_PASSWORD: 
  DB_PASSWORD: 
  SFTP_USER_PASSWORD: 
  S3_SECRET_KEY: 
  SMTP_AUTH_PASSWORD: 
  MSR_TRUSTSTORE_PASSWORD: 
  ADMIN_PASSWORD: 

